{
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "svelteSortOrder": "scripts-markup-styles",
        "plugins": ["prettier-plugin-svelte"]
      }
    }
  ]
}
