:root {
  --background: #eee;
  --primary: pink;
  --secondary: powderblue;
  --shadow: tomato;
  --contrast-text: black;
  --transition: 0.5s;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  display: flex;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--background);

  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 425px) {
  body {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  font-size: inherit;
  box-sizing: inherit;
  user-select: none;
  cursor: default;
}

p { margin: 0; }

h1, h2, h3 {
  margin: 0;
  color: var(--primary);
  font-weight: 100;
  line-height: 1;
}

.fluid {
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

.nice {
  position: relative;
  font-family: 'Bungee', cursive;
  font-weight: bold;
  text-shadow: 2px 2px var(--shadow);
  transition-property: color, text-shadow;
  transition-duration: var(--transition);
}

.nice::after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  color: var(--secondary);
  font-family: 'Bungee Hairline', cursive;
  text-shadow: 1px 1px var(--shadow);
  transition: inherit;
}

.nice.invert {
  color: var(--secondary);
}

.nice.invert::after {
  color: var(--primary);
}

h1 {
  font-size: 60px;
  --scaler: 10vw;
  --minFontSize: 60px;
  --maxFontSize: 120px;
}

h2 {
  font-size: 50px;
  --scaler: 10vw;
  --minFontSize: 50px;
  --maxFontSize: 100px;
}

h3 {
  font-size: 40px;
  --scaler: 10vw;
  --minFontSize: 40px;
  --maxFontSize: 80px;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

button {
  font-size: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button.primary {
  position: relative;
  padding: 2px 24px;

  background-color: var(--secondary);
  box-shadow: 3px 3px var(--shadow);

  outline: none;
  border: none;
  border-radius: 6px;

  color: var(--primary);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Bungee', cursive;
  text-shadow: 2px 2px var(--shadow);
}

button.primary.small {
  font-size: 20px;
  text-shadow: 1px 1px var(--shadow);
  box-shadow: 2px 2px var(--shadow);
}

button.primary:active {
  transform: scale(0.95);
}

button.secondary {
  position: relative;
  padding: 2px 24px;

  background: none;
  outline: none;
  border: none;

  color: var(--primary);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Bungee', cursive;
  text-shadow: 2px 2px var(--shadow);
}

button.secondary.small {
  font-size: 20px;
  text-shadow: 1px 1px var(--shadow);
}

button.primary,
button.secondary {
  transition-property: transform, color, background-color, box-shadow, text-shadow;
  transition-duration: 0.2s, var(--transition);
}

button.primary:hover,
button.secondary:hover {
  transform: scale(0.98);
}

button.primary:active,
button.secondary:active {
  transform: scale(0.96);
}

button.primary::after,
button.secondary::after {
  content: attr(data-text);
  display: block;

  position: absolute;
  top: 2px;
  right: 24px;
  bottom: 2px;
  left: 24px;

  color: var(--secondary);
  font-family: 'Bungee Hairline', cursive;
  font-size: bold;
  text-shadow: 1px 1px var(--shadow);
  pointer-events: none;
  transition: inherit;
}

*:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.center {
  text-align: center;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background-color: var(--background);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 60;
}

.dots {
  background-image:
    radial-gradient(var(--primary) 10%, transparent 10%),
    radial-gradient(var(--secondary) 10%, transparent 10%);

  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.dots.alternate {
  background-image:
    radial-gradient(var(--secondary) 10%, transparent 10%),
    radial-gradient(var(--primary) 10%, transparent 10%);
}

.dots.animated {
  animation-name: moveDots;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes moveDots {
  to {
    background-position: 20px 20px, 30px 30px;
  }
}

.shadow {
  box-shadow: 5px 5px var(--primary);
}

.emoji {
  font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}

@media (max-width: 425px) {
  .screen {
    padding: 8px;
  }
}

.flex,
.rowLeft, .rowLeft2, .rowLeft3, .rowLeft4, .rowLeft5,
.rowRight, .rowRight2, .rowRight3, .rowRight4, .rowRight5 {
  display: flex;
}

.column,
.columnTop, .columnTop2, .columnTop3, .columnTop4, .columnTop5,
.columnBottom, .columnBottom2, .columnBottom3, .columnBottom4, .columnBottom5 {
  display: flex;
  flex-direction: column;
}

.wrap { flex-wrap: wrap; }
.flexNone { flex: none; }

.justifyStart { justify-content: flex-start; }
.justifyEnd { justify-content: flex-end; }
.justifyCenter { justify-content: center; }
.justifyBetween { justify-content: space-between; }
.justifyAround { justify-content: space-around; }
.justifyEvenly { justify-content: space-evenly; }

.itemsStart { align-items: flex-start; }
.itemsEnd { align-items: flex-end; }
.itemsCenter { align-items: center; }
.itemsBaseline { align-items: baseline; }
.itemsStretch { align-items: stretch; }

.selfStart { align-self: flex-start; }
.selfEnd { align-self: flex-end; }
.selfCenter { align-self: center; }
.selfBaseline { align-self: baseline; }
.selfStretch { align-self: stretch; }

.rowLeft > *:not(:first-child) { margin-left: 8px; }
.rowLeft2 > *:not(:first-child) { margin-left: 16px; }
.rowLeft3 > *:not(:first-child) { margin-left: 24px; }
.rowLeft4 > *:not(:first-child) { margin-left: 32px; }
.rowLeft5 > *:not(:first-child) { margin-left: 40px; }

.columnTop > *:not(:first-child) { margin-top: 8px; }
.columnTop2 > *:not(:first-child) { margin-top: 16px; }
.columnTop3 > *:not(:first-child) { margin-top: 24px; }
.columnTop4 > *:not(:first-child) { margin-top: 32px; }
.columnTop5 > *:not(:first-child) { margin-top: 40px; }

.marginTopAuto { margin-top: auto; }

.marginTop { margin-top: 8px; }
.marginTop2 { margin-top: 16px; }
.marginTop3 { margin-top: 24px; }
.marginTop4 { margin-top: 32px; }
.marginTop5 { margin-top: 40px; }

.marginRight { margin-right: 8px; }
.marginRight2 { margin-right: 16px; }
.marginRight3 { margin-right: 24px; }
.marginRight4 { margin-right: 32px; }
.marginRight5 { margin-right: 40px; }

.marginBottom { margin-bottom: 8px; }
.marginBottom2 { margin-bottom: 16px; }
.marginBottom3 { margin-bottom: 24px; }
.marginBottom4 { margin-bottom: 32px; }
.marginBottom5 { margin-bottom: 40px; }

.marginLeft { margin-left: 8px; }
.marginLeft2 { margin-left: 16px; }
.marginLeft3 { margin-left: 24px; }
.marginLeft4 { margin-left: 32px; }
.marginLeft5 { margin-left: 40px; }
